.hero {
    min-height: 615px;
    background-image: url(/dist/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;   

    &__content{
        display: grid;
        justify-content: end;
        max-width: 700px;
        
        

        &__branding{
            margin: 0 auto;
            max-width: 320px;
        }
    }
}