.hero {
    display: flex;
    justify-content: right;
    align-items: right;
    min-height: 519px;
    background-image: url(/dist/images/banner.png);

    &__content{
        max-width: 640px;

        &__branding{
            margin: 0 auto;
            max-width: 320px;
        }
    }
}