@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bgColor: black;
$textColor: white;
$secTextColor: red;


@font-face{
    font-family: 'floyd';
    src: url(/assets/fonts/floyd.TTF);
}

body{
    background-color: $bgColor;
    color:$textColor;
    font-family: floyd, sans-serif;
}

@mixin title($fontSize: 28px){
    @include text($fontSize);
    color: $textColor;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}

.text--big {
    @include text(18px);
}

.text {
    @include text();
}

.text--small {
    @include text(12px);
}

.button {
    width: 150px;
    background-color: rgba(245, 245, 245, 0.9);
    border: 2px solid rgb(170, 170, 170);
    border-radius: 2px;
    box-shadow: rgb(170, 170, 170) 2px 2px 0 0;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    touch-action: manipulation;
  }
  
  .button:hover {
    background-color: #fff;
  }
  
  .button:active {
    box-shadow: rgb(170, 170, 170) 4px 4px 0 0;
    transform: translate(2px, 2px);
  }
  

  ul li {
    display: inline-block;
    margin-top: 50%;
  }
