

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bgColor: black;
$textColor: white;
$secTextColor: red;


@font-face{
    font-family: 'floyd';
    src: url(/assets/fonts/floyd.TTF);
}

body{
    background-color: $bgColor;
    color:$textColor;
    font-family: floyd, sans-serif;
}

.about h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 40px;
  }

.about p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: justify;    
}

  ul li {
    display: inline-block;
  }

  #cast-list-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-right: 10%;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
  }

  #cast-list-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 20%;
    margin-left: 20%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .card-text{
    text-align: center;
  }

  .cast h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 40px;
  }
  
.music{
    margin-bottom: 250px;
}

.music p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

  .music h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 40px;
  }

  .music ol {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-top:40px;
    padding-left: 150px;
  }

  footer{
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }